In [2]:
import pandas as pd
import matplotlib as mp
import matplotlib
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sb

In [3]:
pip install fast_ml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fast_ml
  Downloading fast_ml-3.68-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 906 kB/s
Installing collected packages: fast-ml
Successfully installed fast-ml-3.68

In [5]:
DemoCar_df=pd.read_csv('cardf_new.csv')

In [6]:
DemoCar_df.head()

,Selling_price,Present_new,Kms_driven,total_years,Fuel_type_Diesel,Fuel_type_LPG,Fuel_type_Petrol,Transmission_Manual
0,120000,126000,50000,17,1,0,0,1
1,50000,52500,120000,20,1,0,0,1
2,430000,451500,50000,10,0,0,1,1
3,1200000,1260000,60000,10,0,0,1,0
4,1295000,1359750,58000,11,1,0,0,0

In [ ]:
DemoCar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11649 entries, 0 to 11648
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Selling_price        11649 non-null  int64
 1   Present_new          11649 non-null  int32
 2   Kms_driven           11649 non-null  int64
 3   total_years          11649 non-null  int64
 4   Fuel_type_Diesel     11649 non-null  int64
 5   Fuel_type_LPG        11649 non-null  int64
 6   Fuel_type_Petrol     11649 non-null  int64
 7   Transmission_Manual  11649 non-null  int64
dtypes: int32(1), int64(7)
memory usage: 682.7 KB

In [7]:
DemoCar_df = DemoCar_df.astype({'Present_new':int})

In [8]:
X=DemoCar_df.iloc[:,1:]
Y=DemoCar_df.iloc[:,0]

In [9]:
from fast_ml.model_development import train_valid_test_split

X_train, Y_train, X_valid, Y_valid, X_test, Y_test = train_valid_test_split(DemoCar_df, target = 'Selling_price', 
                                                                            train_size=0.8, valid_size=0.1, test_size=0.1)

print(X_train.shape), print(Y_train.shape)
print(X_valid.shape), print(Y_valid.shape)
print(X_test.shape), print(Y_test.shape)

(9319, 7)
(9319,)
(1165, 7)
(1165,)
(1165, 7)
(1165,)

(None, None)

In [10]:
X.head()

,Present_new,Kms_driven,total_years,Fuel_type_Diesel,Fuel_type_LPG,Fuel_type_Petrol,Transmission_Manual
0,126000,50000,17,1,0,0,1
1,52500,120000,20,1,0,0,1
2,451500,50000,10,0,0,1,1
3,1260000,60000,10,0,0,1,0
4,1359750,58000,11,1,0,0,0

In [12]:
#DECISION TREE
from sklearn.tree import DecisionTreeRegressor
tree_reg=DecisionTreeRegressor(random_state=42) # random state
tree_reg.fit(X_train,Y_train)

DecisionTreeRegressor(random_state=42)

In [ ]:
#GUI PAGE

from tkinter import *


ws = Tk()
ws.title('Car Price Prediction')
ws.config(bg='#0B5A81')


f = ('Times', 14)


Fuel_type_Diesel=0
Fuel_type_LPG=1
Fuel_type_Petrol=0
Transmission_Manual=0

def submitact():
    Result=tree_reg.predict([input_list])[0]
    Label(left_frame,text='Your car price is'+Result, bg='light blue',font=f).grid(row=4, column=2,sticky=W, pady=10)
    

    
    
left_frame = Frame(
    ws, 
    bd=2, 
    bg='#CCCCCC',   
    relief=SOLID, 
    padx=10, 
    pady=10
    )

Label(
    left_frame, 
    text="Year", 
    bg='#CCCCCC',
    font=f).grid(row=0, column=0, sticky=W, pady=10)

Label(
    left_frame, 
    text="Present Price", 
    bg='#CCCCCC',
    font=f).grid(row=1, column=0, sticky=W, pady=10)

Label(
    left_frame, 
    text="Kilometers Driven", 
    bg='#CCCCCC',
    font=f
    ).grid(row=2, column=0, sticky=W, pady=10)

Label(
    left_frame, 
    text="Fuel type", 
    bg='#CCCCCC',
    font=f).grid(row=0, column=3, sticky=W, pady=10)

Label(
    left_frame, 
    text="Transmission Type", 
    bg='#CCCCCC',
    font=f
    ).grid(row=1, column=3, sticky=W, pady=10)

a= Entry(
    left_frame, 
    font=f,
    )
total_years=int(a.get())
#total_years=int(total_years)
b = Entry(
    left_frame, 
    font=f
    )
Present_new=pd.to_numeric(b, errors='coerce')
Present_new=int(Present_new)
c = Entry(
    left_frame, 
    font=f)
Kms_driven=pd.to_numeric(c, errors='coerce')
Kms_driven=int(Kms_driven)         
d = Entry(
    left_frame, 
    font=f, 
    )
Fuel_type=d.get()
if Fuel_type=='petrol':
    Fuel_type_Diesel=0
    Fuel_type_LPG=0
    Fuel_type_Petrol=1
    
if Fuel_type=='diesel':
    Fuel_type_Diesel=1
    Fuel_type_LPG=0
    Fuel_type_Petrol=0
    
if Fuel_type=='LPG':
    Fuel_type_Diesel=0
    Fuel_type_LPG=1
    Fuel_type_Petrol=0
    

e = Entry(
    left_frame, 
    font=f, 
    )
Transmission_type=e.get()
if Transmission_type=='manual':
    Transmission_Manual=1
    
    
if Transmission_type=='automatic':
    Transmission_Manual=0
    

#input_list=[Present_new,Kms_driven,total_years,Fuel_type_Diesel,Fuel_type_LPG, Fuel_type_Petrol, Transmission_Manual]

Submit_btn = Button(
    left_frame, 
    width=15, 
    text='Predict Car Price', 
    font=f, 
    relief=SOLID,
    cursor='hand2',
    command=submitact
    )



a.grid(row=0, column=1, pady=10, padx=20)
b.grid(row=1, column=1, pady=10, padx=20)
c.grid(row=2, column=1, pady=10, padx=20)
d.grid(row=0, column=4, pady=10, padx=20)
e.grid(row=1, column=4, pady=10, padx=20)
Submit_btn.grid(row=2, column=2, pady=10, padx=20)
#Register_btn.grid(row=2, column=0, pady=10, padx=20)
left_frame.pack()
input_list=[Present_new,Kms_driven,total_years,Fuel_type_Diesel,Fuel_type_LPG, Fuel_type_Petrol, Transmission_Manual]



ws.mainloop()